-statistic_hash = @discussion.oprations_statistic_of(params[:email])
-statistic_hash.each do |name,hash|
  .clearfix
    .push_1.grid_5=name
    .push_1.grid_6
      =to_percent(hash[:percent])
    .push_1.grid_2=hash[:count]

-str_xml = pie_xml(statistic_hash)
=render_chart str_xml, 600, 300

-content_for :head do
  =javascript_include_tag "views/discuss/fusion_charts/js/FusionCharts.js"




