.clearfix
  .push_1.grid_5 参与人
  .push_1.grid_8 话题贡献度百分比

-@discussion.oprations_statistic.each do |email,hash|
  .clearfix
    .push_1.grid_5=email
    .push_1.grid_6
      %a{:href=>oprations_statistic_document_path(:id=>@document.id,:email=>email)}
        %div{:style=>"height:15px;background-color:#FF7F2F;width:#{to_percent(hash[:percent])}"}
    .push_1.grid_2=to_percent(hash[:percent])
