<br/><br/>

<p style="color:#999;">MindPin</p>

<div><b>网站网址</b> <a href="http://www.mindpin.com" target="_blank">http://www.mindpin.com</a></div>
<div><b>开发者日志(BLOG)</b> <a href="http://devblog.mindpin.com" target="_blank">http://devblog.mindpin.com</a></div>

<br/>

<div><b>站务EMail</b>: mindpin(a)gmail.com</div>
<div><b>QQ</b> 6217861 / 805181127</div>
<div><b>MSN</b> advancer_cn(a)hotmail.com</div>
<div><b style="color:#c30;">QQ群</b> 104054457 71600882(已满)</div>
