尊敬的用户 <b><%=@user.name%></b> ：

<p>您好，请点击下面的链接重设您的密码：(单击此链接 或 复制链接地址到您的浏览器中访问)</p>
<% url = "#{THIS_SITE}reset_password/#{@user.reset_password_code}" %>
<p><%= link_to url,url,:target=>'_blank' %></p>

<%=render :partial=>'contact'%>
