<% if current_user %>
  <span class="line">|</span>

  <span>
    <%= link_to "参与的讨论",discussions_path%>
  </span>
  <span class="line">|</span>

  <span>
    <%= link_to "版本库",repo_index_path(:user_id=>current_user.id)%>
  </span>
  <span class="line">|</span>
<%end%>