-document = discussion.document_tree.document
-document_tree = discussion.document_tree
=link_to h(document.title),document_path(:workspace_id=>document_tree.workspace_id,:id=>document_tree.document_id)
=link_to_remote "删除",:url=>discussion_path(discussion),:method=>:delete